# Binary files
**/bin

# DB data
/data
!/data/init.sql

# Log & Temp & Dump folders
**/log
**/logs
**/tmp
**/cmd/dump

# Audit folder
**/.audit
**/.qrs_audit

# Upgrade directory
**/.*
!**/.upgrade

# Test webinterface
**/www/test
